body {
    font-family: 'Inter', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Inter', sans-serif;
}
@layer utilities {
    @media (max-width: 545px) {
        .new-class-piecircle {
            @apply flex flex-col w-full; 
        }
        .new-class{
            @apply grid grid-cols-1 w-auto  space-x-5 space-y-3
        }
        .newclass-wf{
            @apply w-full bg-black
        }
    }
}
.clip-left {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}
.clip-left2 {
  clip-path: polygon(0 0, 100% 0, 50% 100%, 0% 100%);
}

 